@page "/repositories"
@using AntDesign
@using Site.Shared.Api.Dto
@using Layout = Site.Private.Layout.Layout
@namespace Site.Private.Repositories
@layout Layout

<PageHeader>
    <PageHeaderTitle>Repositories</PageHeaderTitle>
</PageHeader>
<Table
    TItem="Repository"
    DataSource="@_repositories"
    Loading="@_isRepositoriesTableLoading"
    Size="TableSize.Small"
    RowExpandable="@(_ => true)"
    OnExpand="@LoadRepositoryTagsAsync"
    PageSize="50">
    <ChildContent>
        <PropertyColumn TItem="Repository" TProp="string" Title="Repository" Property="@(x => x.Name)" />
    </ChildContent>
    <ExpandTemplate>
        <Table
            TItem="RepositoryTag"
            DataSource="@GetRepositoryTags(context.Data)"
            Loading="@_isTagsTableLoading"
            Size="TableSize.Small"
            HidePagination>
            <ChildContent Context="tag">
                <PropertyColumn TItem="RepositoryTag" TProp="string" Title="Tag" Property="@(x => x.Name)" />
                <PropertyColumn TItem="RepositoryTag" TProp="string" Title="Digest" Property="@(x => x.Digest)" />
                <ActionColumn>
                    <Button
                        Danger
                        Type="@ButtonType.Primary"
                        Size="@ButtonSize.Small"
                        Icon="@IconType.Outline.Delete"
                        OnClick="@(() => DeleteRepositoryTagAsync(context.Data, tag))" />
                </ActionColumn>
            </ChildContent>
        </Table>
    </ExpandTemplate>
</Table>